* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1rem;
}
body{
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 237, 245);
    h2{
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }
    header{
        width: 35vw;
        background-image: url('./assets/background.webp');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        img {
            margin-top: 2rem;
            top: 5rem;
            right: 3rem;
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
        }
        nav{ 
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            a{  
                margin: 0 0.5rem;
                img{
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

    }
    main{
        width: 65vw;
        padding: 8rem;
        counter-reset: rgb(181, 221, 255);

        a{
            text-decoration: underline;
            font-size: 1rem;
            
            text-underline-offset: 0.3rem;
            text-decoration-thickness: 1.2px;
            letter-spacing: 1.3px;
            &:hover{
                font-weight: bold;
                font-style: italic;
            }
        }

        .container-nav{
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 1.5rem;
            }
            .nav{
                .nav-li{
                   padding: 0 0.5rem;
                }
            }
        }

        .container{ 
            h2 {
                font-style: italic;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 250px;
            margin-bottom: 1.5rem;
            line-height: 2rem;
            letter-spacing: 1.5px;
            border-bottom: solid 1px rgb(189, 198, 206);
            .html{
                background-color: red;
                color: white;
                padding: 0.5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                display: inline;
                transition: padding 0.3s ease-in-out;  
                &:hover{
                   padding: 1rem;
                }
            }

            .css{
                background-color: blue;
                color: white;
                padding: 0.5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                display: inline;
                transition: padding 0.3s ease-in-out;  
                &:hover{
                   padding: 1rem;
                }
            }

            .javascript{
                background-color: rgba(190, 190, 55, 0.87);
                color: white;
                padding: 0.5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                display: inline;
                transition: padding 0.3s ease-in-out;  
                &:hover{
                   padding: 1rem;
                }
            }
        }

        #contato{
            font-style: italic;
            display: flex;
            flex-direction: column;
            line-height: 2rem;
            letter-spacing: 1.5px;
            margin: 1rem;
            .container-contato-form{
                display: flex;
                align-items: center;
                justify-content: center;
                form{
                    display: flex;
                    flex-direction: column; 
                    width: 100%;
                    .input {
                        padding: 1rem;
                        border: none;
                        border-radius: 4px;
                        margin-bottom: 1rem;
                    }
                    button{
                        margin-top: 1rem;
                        padding: 1rem;
                        border: none;
                        background-color: #cac8c8;
                        border-radius: 0.50rem;
                        font-size: 1rem;
                        &:hover{
                            background-color: #a1a0a0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:  1250px){
    body {
        display: flex;
        flex-direction: column;

        header{
            width: 100vw;
            background-image: none;
        }

        main{
            width: 100vw;
            padding: 1rem;
            .container-nav{
                flex-direction: column;
            }

            .nav{
                .nav-li{
                    text-decoration: underline;
                    font-size: 1rem;
                    font-style: italic;
                    text-underline-offset: 0.3rem;
                    text-decoration-thickness: 1.2px;
                    letter-spacing: 1.3px;
                }
            }
        }
    }
}